#customize-controls .control-section-pro .accordion-section-title,
#customize-controls .control-section-pro .accordion-section-title:hover,
#customize-controls .control-section-pro .accordion-section-title:focus {
	background-color: #FF3D2E;
	color: #fff;
	border-left: 0;
}

.control-section-pro .accordion-section-title .button {
	font-weight: 400;
	margin-left: 8px;
	margin-top: -3px;
}

.rtl .control-section-pro .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
